/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8d7da;
  color: #000000;
  
}

/* h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.TitulosPaginas {
  margin-top: 12px;
  text-align: center;
}
/* Enlaces */
a {
  text-decoration: none;
}

/* INDEX + NAV BAR*/
.header {
  background-color: #de5d83;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.logo img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}
.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links li a:hover {
  color: #ec9fb9;
}
.nav-links li:hover {
  transform: scale(1.1);
}
.main-home {
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentacion {
  text-align: center;
  padding: 100px 20px;
  max-width: 800px;
}

.presentacion h1 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #2c2c2c;
}

.presentacion p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}
.boton-proyectosYcontacto {
  display: inline-block;
  padding: 10px 20px;
  background-color: #de5d83;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.boton-proyectosYcontacto:hover {
  background-color: #ec9fb9;
}

/* FOOTER */
.footer {
  background-color: #de5d83;
  padding: 20px;
  text-align: center;
  color: white;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.redes a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.redes a i:hover {
  transform: scale(1.2);
  color: #ec9fb9;
}

/* SOBRE MI */
.sobremi__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 12rem;
}

.sobremi__img {
  width: 200px;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows: repeat(3, auto);
  row-gap: 28px;
  align-items: start;
  max-width: 1080px;
}

.grid h2 {
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.ContenidoFormacion p {
  margin: 0;
}

/* CAJA DE LA IMAGEN */
.ImagenFormacion {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.ImagenFormacion img {
  width: 100%;
  height: 100%;
}

.carrousel_logos {
  overflow: hidden;
}

.logos {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  animation: scroll 10s linear infinite;
}

.logos img {
  height: 80px;
  width: auto;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / 3));
  } /* 3 copias */
}

/* CINETICO Y ANIMACION*/

.cinetico__intro {
  text-align: center;
}

.video {
  display: flex;
  max-width: 800px;
  border-radius: 10px;
  margin: 20px 0 20px;
}
.logo_herramientas {
  width: 60px;
}

.linea-estetica {
  border: none;
  height: 2px;              
  background-color: #f098d7;   
  width: 100%;                
}
/* MEDIA QUERIE PAGINA CINETICO */

@media (max-width: 990px) {
  .video {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .video {
    max-width: 400px;
  }
  .sobremi__intro {
    flex-wrap: wrap;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    margin-bottom: 15px;
  }
  .logos {
    animation: scroll 5s linear infinite;
    margin-bottom: 20px;
  }
}

@media (max-width: 530px) {
  .video {
    max-width: 200px;
  }
}
