
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffbdde;
  color: #000000;
  font-family: "Montserrat", sans-serif;;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Enlaces */
a {
  text-decoration: none;

}


/* INDEX + NAV BAR*/
.header {
  background-color: #de5d83;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.logo img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}
.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links li a:hover {
  color: #ec9fb9;
}
.nav-links li:hover {
  transform: scale(1.1);
}
.main-home {
  height: 82vh;
  display: flex;
  align-items: center; /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
}

.presentacion {
  text-align: center;
  padding: 100px 20px;
  max-width: 800px;
}

.presentacion h1 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #2c2c2c;
}

.presentacion p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}
.boton-proyectos {
  display: inline-block;
  padding: 10px 20px;
  background-color: #de5d83;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.boton-proyectos:hover {
  background-color: #ec9fb9;
}

/* FOOTER */
.footer {
  background-color: #de5d83;
  padding: 20px;
  text-align: center;
  color: white;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.redes a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.redes a i:hover {
  transform: scale(1.2);
  color: #ec9fb9;
}

/* SOBRE MI */
.sobremi__intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 12rem;
}

.sobremi__img {
    width: 200px;              
  max-width: 100%;          
  border-radius: 5px;
}