/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8d7da;
  color: #000000;
}


h2,
h3 {
  font-family: "Fraunces", serif;
}

p {
  font-family: "Manrope", sans-serif;
}

.titulosPaginas {
  font-family: "Fraunces", serif;
  margin-top: 12px;
  text-align: center;
}
/* Enlaces */
a {
  text-decoration: none;
}

/* INDEX + NAV BAR*/
.header {
  background-color: #de5d83;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.logo img {
  height: 70px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.logo__nombre {
font-family: "Fraunces", serif;
font-weight: 400;
font-size: 20px;
}
.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links li a:hover {
  color: #ec9fb9;
}
.nav-links li:hover {
  transform: scale(1.1);
}
.main-home {
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home__presentacion {
  text-align: center;
  padding: 100px 20px;
  max-width: 800px;
}

/* .main-home__presentacion h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #2c2c2c;
} */

.main-home__presentacion p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}
.boton-proyectosYcontacto {
  display: inline-block;
  padding: 10px 20px;
  background-color: #de5d83;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.boton-proyectosYcontacto:hover {
  background-color: #ec9fb9;
}

/* FOOTER */
.footer {
  background-color: #de5d83;
  padding: 20px;
  text-align: center;
  color: white;
}

.footer__redes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.footer__redes a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer__redes a i:hover {
  transform: scale(1.2);
  color: #ec9fb9;
}

/* SOBRE MI */
.sobremi__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 12rem;
}

.sobremi__img {
  width: 200px;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows: repeat(3, auto);
  row-gap: 28px;
  align-items: start;
  max-width: 1080px;
}

.grid h2 {
  grid-column: 1 / -1;
  margin-bottom: 10px;
}

.grid__ContenidoFormacion p {
  margin: 0;
}

/* Caja de la imagen */
.grid__ImagenFormacion {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.grid__ImagenFormacion img {
  width: 100%;
  height: 100%;
}

.programas__carrousel-logos {
  overflow: hidden;
}

.programas__logos {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  animation: scroll 10s linear infinite;
}

.programas__logos img {
  height: 80px;
  width: auto;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / 3));
  }
}

/* CINETICO Y ANIMACION*/

.cinetico__intro {
  text-align: center;
}

.video {
  display: flex;
  max-width: 800px;
  border-radius: 10px;
  margin: 20px 0 20px;
}
.logo_herramientas {
  width: 60px;
}

.linea-estetica {
  border: none;
  height: 2px;
  background-color: #f098d7;
  width: 100%;
}

/* PAGINA DE CONTACTO */

.contact-form {
  background: #f8c8d8;
  border: 1px solid #e9e4ea;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap, 1.25rem);
}

.form-field__full {
  grid-column: span 2;
}

.contact-form label {
  display: block;
  color: #de5d83;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Fraunces", serif;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #ec86a5;
  border-radius: 10px;
  font: inherit;
  background: #ffffff;
  font-family: "Fraunces", serif;
}

.contact-form input:required:invalid,
.contact-form textarea:required:invalid {
  border-color: #ed6f63;
}

.contact-form input:required:valid,
.contact-form textarea:required:valid {
  border-color: #aff7c4;
}

/* Boton enviar */
.contact-form__boton {
  border: none;
  width: 30%;
  border-radius: 10px;
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  background: #de5d83;
  color: #ffffff;
  box-shadow: 0 6px 16px rgba(255, 102, 165, 0.35);
}

.contact-form__boton:hover {
  background: #ec9fb9;
}

/* RESPONSIVE */

@media (max-width: 990px) {
  .video {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .video {
    max-width: 400px;
  }
  .sobremi__intro {
    flex-wrap: wrap;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    margin-bottom: 15px;
  }
  .logos {
    animation: scroll 5s linear infinite;
    margin-bottom: 20px;
  }
  .contact-form__grid {
grid-template-columns: 1fr;
  }
}
@media (max-width: 530px) {
  .video {
    max-width: 200px;
  }
}
